h1 {
text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    background-color: teal;
}
  
div{
    margin: 5%;
}